* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}
body {
    color: #fff;
    background-color: #000;
}
/*--------------------------------------------HEADERS/TEXT*/
.header p {
    font-size: 1.4rem;
    padding: 1rem;
    margin: 0;
    text-decoration: underline;
}
.interface p {
    font-size: 1.4rem;
    line-height: 1.2rem;
}
.enemy p {
    font-size: 1.4rem;
    line-height: 1.2rem;
}
.interface h3 {
    text-decoration: underline;
    font-size: 1.5rem;
}
.enemy h3 {
    text-decoration: underline;
    font-size: 1.5rem;
}
h1 {
    padding: 1rem;
    text-decoration: underline;
    font-size: 3rem;
}
.counter p {
    font-size: 1.6rem;
}
.header h3 em {
    font-size: 1.6rem;
}
a:hover {
    color: #fff;
}
a {
    color: #fff;
}
.enemy-counter p {
    font-size: 1.6rem;
}
.player-damage {
    font-size: 1.4rem;
}
.enemy-damage {
    font-size: 1.4rem;
}
/*--------------------------------------------CONTAINERS*/
.game-container {
    text-align: center;
}
.counter {
    visibility: hidden;
}
.arena {
    visibility: hidden;
    height: 5rem;
    width: 100%;
    margin: 1rem auto;
    font-size: 1.4rem;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    background-color: #303030;
}
/*--------------------------------------------IMAGES*/
.img-avatar {
    height: 8rem;
    width: 8rem;
}
.player-move-images {
    height: 2.5rem;
    width: 2.5rem;
    display: inline-block;
    padding-right: .5rem;
}
#castle-image {
    height: 20rem;
    width: 20rem;
}
/*--------------------------------------------BUTTONS*/
.btn-prefight {
    width: 30%;
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
    padding: .5rem;
    border: 2px solid #fff;
    display: inline-block;
    margin: 2rem auto;
}
.how-to-play {
    display: block;
    margin: .5rem auto;
    padding: 1rem;
    font-size: 1.6rem;
    background-color: #119b2e;
    border-color: #119b2e;
    font-weight: bold;
    color: #fff;
}
.btn-secondary {
    background-color: #B22222;
    border-color: #B22222;
    font-size: 1.6rem;
    font-weight: bold;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:active:focus {
    background-color: #de5454;
    border-color: #de5454;
}
.how-to-play:hover,
.how-to-play:active,
.how-to-play:focus,
.how-to-play:active:focus {
    background-color: #14b838;
    border-color: #14b838; 
}
/*--------------------------------------------HOW TO PLAY MODAL*/
.modal-title strong {
    color: #000;
    font-size: 1.6rem;
    text-transform: uppercase;
}
.modal-body p {
    color: #000;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.modal-body p strong {
    color: #000;
    font-size: 1.4rem;
}
.modal-subheading {
    text-decoration: underline;
}
/*--------------------------------------------WIN MODAL*/
.win-modal-body p {
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
}
.win-modal-container {
    margin: auto;
}
.win-modal-body h3 {
    font-size: 4rem;
}
.win-modal-body {
    background-color: #303030;
}
/*--------------------------------------------LOSE MODAL*/
.lose-modal-body p {
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    padding: 1rem;
    font-weight: bold;
}
.lose-modal-container {
    margin: auto;
}
.lose-modal-body h3 {
    font-size: 4rem;
}
.lose-modal-body {
    background-color: #303030;
}